.album-name {
  margin: 0 0 0.25rem 0 !important;
  a {
    font-weight: bold !important;
    line-height: 1rem;
  }
}

.album-artists {
  a {
    font-weight: normal !important;
    margin-bottom: 0.25rem;
  }
}
