// Desktop Image Sizes for preview rows
$xl-desktop-preview: 170px;
$lg-desktop-preview: 180px;
$md-desktop-preview: 150px;
$sm-desktop-preview: 125px;
// Tablet and Mobile Image sizes for preview rows
$lg-tablet-preview: 150px;
$md-tablet-preview: 130px;
$sm-tablet-preview: 120px;
$lg-mobile-preview: 90px;
$md-mobile-preview: 102.5px;
$sm-mobile-preview: 90px;

// Desktop Image Sizes for rows
$xl-desktop: 180px;
$lg-desktop: 190px;
$md-desktop: 162px;
$sm-desktop: 132px;
// Tablet and Mobile Image sizes for rows
$lg-tablet: 160px;
$md-tablet: 135px;
$sm-tablet: 130px;
$lg-mobile: 95px;
$md-mobile: 106px;
$sm-mobile: 95px;

// COLORS
$primary-color: #05668d;
$secondary-color: #028090;
$text-primary-color: #ffffff;
$text-secondary-color: #afadad;
$background-color: #0f0f0f;
$background-secondary-color: #1b1b1e;
